body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f2755;
}

.App {
  text-align: left;
  color: white;
  font-size: calc(3px + 2vmin);
  background-color: #0f2755;
}

.textGita {
  font-size: 14px;
  max-width: 1030px;
}

.textLogo {
  font-size: 12px;
  max-width: 180px;
}

.textTitleFoto {
  font-size: 16px;
  padding-top: 20px;
  max-width: 1030px;
}

.textDescGita {
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
}

.pictureHome {
  padding-top: 16px;
}

.textLeft {
  text-align: left;
}

.buttonSide {
  background-color: #72a3ffd2;
  --bs-btn-active-bg: #a0e8fa;
  --bs-btn-active-color: #515151;
  --bs-btn-hover-bg: #DDD;
  --bs-btn-hover-color:#515151;
  font-weight: bold;
  min-width: 185px;
}

.itemLeft {
  flex: 0 1 auto;
  padding-left: 10px;
  text-align: left;
}

.colLeft {
  min-width: 200px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;  
}

.header {
  background-color: #0f2755;
}



.sidenav {
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: rgb(10,25,41);
  padding-top: 28px;
}

.sidenavClosed {
  composes: sidenav;
  transition: width 0.3s ease-in-out;
  width: 60px
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #B2BAC2;
  text-decoration: none;
}

.linkText {
  padding-left: 16px;
}

.linkTextClosed {
  composes: linkText;
  visibility: hidden;
}

.sideitem:hover {
  background-color: #244f7d1c;

}

.menuBtn {
  align-self: center;
  align-self: flex-start; 
  justify-self: flex-end;
  color: #B2BAC2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}