.App {
  text-align: left;
  color: white;
  font-size: calc(3px + 2vmin);
  background-color: #0f2755;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.textGita {
  font-size: 14px;
}

.textTitleFoto {
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
}

.textDescGita {
  font-size: 20px;
  padding-top: 40px;
  font-weight: bold;
}

.textLeft {
  text-align: left;
}

.buttonSide {
  background-color: #72a3ffd2;
  --bs-btn-active-bg: #a0e8fa;
  --bs-btn-active-color: #515151;
  --bs-btn-hover-bg: #DDD;
  --bs-btn-hover-color:#515151;
  font-weight: bold;
  min-width: 185px;
}

.itemLeft {
  flex: 0 1 auto;
  padding-left: 10px;
  text-align: left;
}

.colLeft {
  min-width: 200px;
}